<footer class="footer footer-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Around the Web</h3>
        <ul class="list-inline">
          <li>
            <a href="https://medium.com/@joaomarcuslf" class="btn-social btn-outline" target="_blank">
              <%= fa_icon "medium" %>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/joaomarcus.l.fernandes" class="btn-social btn-outline" target="_blank">
              <%= fa_icon "facebook" %>
            </a>
          </li>
          <li>
            <a href="https://github.com/joaomarcuslf" class="btn-social btn-outline" target="_blank">
              <%= fa_icon "github" %>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/joaomarcuslf" class="btn-social btn-outline" target="_blank">
              <%= fa_icon "twitter" %>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jo%C3%A3o-marcus-fernandes-4b8814ba" class="btn-social btn-outline" target="_blank">
              <%= fa_icon "linkedin" %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>